<h1>New Post</h1>

<%= form_with model: @post do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :descripition %><br>
    <%= form.text_area :descripition %>
  </div>

  <div>
  <%= form.label :image %><br>
  <%= form.file_field :image %>
</div>


  <div>
    <%= form.submit %>
  </div>
<% end %>