
<div class="container-fluid">
<% if !@post.approval && !@post.approval.present? && current_usermodel.role.present? && current_usermodel.role=="Admin"%>
  <p>Not approved</p>
  <%= button_to 'Approve Post' , posts_action_path(:post_id=> @post.id), method: :post %>
    <% end %>
    <% if current_usermodel.role.present? && current_usermodel.role=="Admin"%>
    <%= link_to "Destroy", post_path(@post),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
      <% end %>
      <h1>
        <%= @post.title %>
      </h1>

      <p>
        <%= @post.descripition %>
      </p>

      <p>
      </p>
      <% if @post.image.present? && !@post.image.blank? %>
        <%= image_tag(@post.image) %>
          <% end %>

            <h2>comments :</h2>

            <strong>
            <% @post.comments.each do |comment| %>
          </strong>
              <p>
              <%= comment.commenter %>
                <%= comment.body %>
                  </p>

                  <% end %>
                    <h2>Add a comment</h2>
                    <%= form_with model: [ @post, @post.comments.build ] do |form| %>

                      <p>
                        <%= form.label :commenter %>
                          <br>
                          <%= form.text_field :commenter,value:current_usermodel.email %>
                            <br>
                      </p>

                      <p>
                        <%= form.label :body %><br>
                          <%= form.text_area :body %>
                      </p>
                      <p>
                        <%= form.submit %>
                      </p>
                      <br>
                      <%= link_to "Back", posts_path %>
                      <% end %>
</div>